@media (max-width: 600px)
{
    header{
        background: #F3EFE0;
        padding: 8px 50px;
        display: flex;
        flex-direction: row;
    }
    #hero{
        position: relative;
        background: #434242;
    }
    #logo{
        width: 60px;
        height: 60px;
        background: white;
        border-radius: 100%;
    }
    #logo img{
        border-radius: 100%;
        border: 2px solid black;
    }
    #hero #computadora img{
        height: 850px;
        opacity: calc(80%);
        filter: brightness(0.5);
    }
    #hero .informacion-contenedor{
        position: absolute;
        display: flex;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        color: rgb(255, 255, 255);
        padding: 50px 50px;
        padding: 5%;
        flex-direction: column;
        align-items: center;
    }
    #hero .informacion-contenedor .informacion h1{
        font-size: 40px;
        margin-top: 10px;
        text-align: center;
    }
    #hero .informacion-contenedor .informacion{
        font-weight: bold;
        height: calc(120% - 200px);
        width: calc(120% - 200px);
        text-align: center;
    }
    .card2{
        display: none;
    }
}
@media (max-width: 900px){
    .card1
    {
        display: none;
    }
}


@media (min-width: 601px)
{
    header {
       
        background: #f3efe0f5;
        padding: 10px 50px;
        min-height: 100px;
        width: 100%;
        position: fixed;
        z-index: 100;
        width: 100%;
        position: fixed;
        z-index: 100;
        -webkit-box-shadow: 7px 7px 20px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 7px 7px 20px 0px rgba(0,0,0,0.5);
        box-shadow: 7px 7px 20px 0px rgba(0,0,0,0.5);
      }
      
      nav {
        float: right;
        margin-top: 20px;
      }
      
      nav ul {
        list-style: none;
        overflow: hidden; 
      }
      
      nav ul li {
        float: left;
        font-family: Arial, sans-serif;
        font-size: 20px;
        margin-left: 30px;

      }
      nav ul li a {
        display: block;
        padding: 10px;
        color: #000000;
        text-decoration: none;
        font-weight: 500;
        
      }
      nav ul li a:hover {
        color: #22A39F;
        transition: 0.5s;
        
      }

    #hero{
        position: relative;
        background: #434242;
    }
    #logo{
        width: 60px;
        height: 60px;
        background: white;
        border-radius: 100%;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        margin: 20px 0px 0px 40px;
    }
    #logo img{
        border-radius: 100%;
        border: 2px solid black;
    }
    #hero #computadora img{
        height: 100vh;
        opacity: calc(80%);
        filter: brightness(0.5);
    }
    #hero .informacion-contenedor{

        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        color: rgb(255, 255, 255);
        padding: 50px 50px;
        padding: 10%;
    }
    #hero .informacion-contenedor .informacion h1{
        font-size: 50px;
    }
    #hero .informacion-contenedor .informacion{
        margin-left: 30px;
        font-weight: bold;
        height: calc(100% - 200px);
        width: calc(100% - 200px);
        text-align: center;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

.image-container{
    display: flex;
}
.image-container img{
    width: 100%;
}

.seccion_sobre{
    min-height: 30vh;
    background: #F3EFE0;
    width: 100%;
    padding: 10% 15%;
    
}
 #computadora img {
    opacity: calc(80%);
    filter: brightness(0.5);
}



/* Estilos del hero*/

#hero #computadora{
    display: inline-block;
    width: 100%;
    height: 100px;
}


#hero .informacion-contenedor #foto{
    width: 200px;
    height: 200px;
}

#hero .informacion-contenedor #foto img{
    border-radius: 100%;
    border: 4px solid #22A39F;
}


#hero .informacion-contenedor .informacion span{
    color: #ffffff;
    display: inline-block;
    margin-bottom: 50px;
    font-size: 20px;
    text-align: center;
    
}
p{
    line-height: 200%;
    text-align: center;
    font-size: 18px;
}

#hero .informacion-contenedor .informacion p{
    
    line-height: 200%;
}

main .social-icons{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    list-style: none;
    flex-wrap: wrap;
}
main .social-icons img{
    height: 50px;
    width: 50px;
}
main .social-icons .social-icon {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 0px 8px 0px 8px;
    border-radius: 5px;
}

.card .git-icon img{
    height: 50px;
    width: 50px;
}
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    background-color: #22A39F;
    border: 2px solid #22A39F; 
  }
  button:hover {
    background-color: white; 
    color: black;
    transition: 0.5s;
  }
.contenido h3{
    margin-top: 10px;
    color: #22A39F;
}

.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    color: #22A39F;
}
.seccion_proyectos{
    background-image: url(../assets/pexels-nikolaos-dimou-2473183.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1050px;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: -2;
}

.seccion_proyectos::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(155, 28, 28, 0.623); /* Ajusta la opacidad aquí */
    background: #434242;
    mix-blend-mode: overlay; 
    z-index: -1;
}

.contenedor_barras{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contenedor_barras .skill{
    margin: 20px 15px;
    width: 40%;
}
.contenedor_barras p{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.contenedor_barras .progress{
    position: relative;
    width: 100%;
    height: 6px;
    background:#999;
    border-radius: 6px;
    overflow: hidden;
    margin: 5px 0;
}
.contenedor_barras .skill .progress::before{
    content: "";
    position: absolute;
    width: var(--wth);
    height: 100%;
    background-color: #22A39F;
}

.contenido_proyectos{
    transform: translateY(+8%);
   
}

.seccion_proyectos2{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container{
    width: 100%;
    display: flex;
    max-width: 1100px;
}
.card{
    width: 100%;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    background: white;
    box-shadow: 0px 1px 10px rgba(216, 216, 216, 0.842);
    cursor: default;
    transition: all  400ms ease;
}
.card img{
    width: 100%;
    height: 210px;
}
.botones_proyectos{
    display: flex;
    margin: 20px 20px;
    justify-content: space-around;

}

.card:hover{
    box-shadow: 5px 5px 20px rgb(255, 255, 255);
    transform: translateY(-3%);
}
.card .contenido p{
    line-height: 1.5;

}
.card .contenido h3 {
    margin-bottom: 15px;
    text-align: center;
}

.seccion_contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F3EFE0;
    width: 100%;
}
.contenedor_contacto{
    margin: 30px 0px;
}

html{
    margin: 0;
    padding: 0;
    height: 0px;
}